
body {
	margin: 0;
	background-color: rgb(32, 29, 26);
}
.logoImg {
	height:68px;
	 padding: 0 12px;
	}
.navbarDiv {
	height: 103px;
}
.navbarUl {
	margin: 0;
	padding: 0;
	list-style: none; 
	height: 100%; 
	display: flex; 
	flex-flow: row;
}
.navbarLi {
	background-color: rgb(32, 29, 26); 
	line-height: 19.2px; 
	display: flex; 
	flex: 1; 
	align-items: center; 
	justify-content: center; 
	position: relative; 
	border-bottom: 2px solid #baa256;
}
.navbarLi::before {
	background: rgba(73,68,65,0.5); 
	content: ''; 
	height: 100%; 
	left: 0; 
	position: absolute; 
	top: 0; 
	width: 1px;
}
.navbarLink {
	text-decoration: none;
}
.menuItemsText {
	color: #9f9c9a; 
	font-size: 13px; 
	font-family: baskerville; 
	line-height: 18px; 
	letter-spacing: 0.975px; 
	text-align: center; 
	text-transform: uppercase;
}
#navbarLiButton {
	background-color: #baa256;
}
.navbarButton {
	border:none; 
	background-color: #baa256;
}
#menuButtonText { 
	color: #201d1a;
}

.subMenuUl {
	list-style: none;
	margin: 0; 
	padding: 0; 
	display: flex; 
	height: 290px;
}

.subMenuLi {
	display: flex; 
	flex:1; 
	align-items: center; 
	justify-content: center;
}
.subMenuLink {
	text-decoration: none; 
	background: #201d1a; 
	border-bottom: 2px solid #baa256; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	
	flex-direction: column; 
	height: 100%; 
	-webkit-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center; 
	position: relative; 
	text-align: center; 
	text-transform: uppercase; 
	width: 100%; 
	z-index: 3; 
	overflow: hidden;
}

.subMenuTextStyle{ 
	position: absolute; 
	 
	width:100%; 
	height:100%; 
	background: #201d1a; 
	opacity: 0.9; 
	z-index: 3; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	color: #baa256;
}

.subMenuSpanStyle {
	background-color: #201d1a; 
	color: #baa256; 
	font-size: 22px; 
	line-height: 26px; 
	letter-spacing: 1.1px; 
	padding: 18px 25px 15px 25px; 
	transition: background-color 0.3s ease-out; 
	position: relative; 
	width: min-content;
}

.subMenuSpanStyle::before {
	border: 1px solid rgba(186,162,86,0); 
	bottom: 0; content: ''; 
	display: block; 
	height: calc(100% + 6px); 
	left: -4px; 
	position: absolute; 
	right: 0; 
	top: -4px; 
	width: calc(100% + 6px); 
	-webkit-transition: border 0.3s; 
	transition: border 0.3s;  
	border-color: #baa256; 
	visibility: hidden;

}


.subMenuZoomImgDiv {
	background: #201d1a; 
	opacity: 0.9; 
	content: ''; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	z-index: 1;
	transform: translate(0, 0); 
	transition: 2s ease;
}


.subMenuLink:hover .subMenuTextStyle {
	background-color: transparent; 
	color:#baa256; 
	width:100%; 
	height:100%; 
	z-index: 3; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}
.subMenuLink:hover .subMenuSpanStyle {
	background: #baa256; 
	color: #201d1a; 
	font-size: 22px; 
	line-height: 26px;	
	letter-spacing: 1.1px; 
	padding: 18px 25px 15px 25px; 
	transition: background-color 0.3s ease-out; 
	position: relative; 
	width: min-content;
}


.subMenuLink:hover .subMenuSpanStyle::before {
	visibility: visible;
}
.subMenuLink:hover .subMenuZoomImgDiv {
	transform: scale(1.2);
}
.subMenuLink:hover .subMenuZoomImg {
	 
	filter: grayscale(0);
}

.subMenuZoomImg {
	min-width: 50%; 
	max-width: 100%; 
	-webkit-filter: grayscale(1); 
	filter: grayscale(1); 
	height: 100%; 
	margin: 0 auto; 
	transition: -webkit-transform 5s, -webkit-filter 300ms ease-in-out; 
	transition: transform 5s, filter 300ms ease-in-out; 
	transition: transform 5s, filter 300ms ease-in-out, -webkit-transform 5s, -webkit-filter 300ms ease-in-out;
}


.subMenuPDiv {
	margin-top: 0;
}
.subMenuP {
	color: #201d1a;
}

#imagesize{
	height: 100%;
	width: 100%;
}